.deliveries-page{
    /*Take into account padding*/
    width: calc(100% - 100px);
    height: 100%;
    padding-left:  50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    background-color: #f3f0ef;
}

.dp-region{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.dp-region1{
    width: 440px;
    height: calc(100% - 100px);
    padding: 0px 25px 25px 0px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.dp-region2{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    row-gap: 20px;
}

.dp-input-wrapper{
    border: solid grey 1px;
    border-radius: 0.5rem;
    width: 100%;
}

.dp-search-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(160, 238, 192);
    padding: 5px;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px;
}

input{
    font-size: 16px;
    font-weight: normal;
    color: rgb(102, 107, 106);
    padding: 8px 16px;
    border: none;
    box-shadow: 2px 2px 3px inset;
    border-radius: 0.5rem;
    width: calc(100% - 40px);
    height: 25px;
    outline: none;
}

input:focus{
    box-shadow: 3px 3px 3px inset;
}
label{
    font-size: 14px;
    color: rgb(102, 107, 106);
    padding-bottom: 4px;
    padding-left: 10px;
}

.dp-table-1-div{
    height: 700px;
    width: 100%;
    border: solid #666B6A 2px;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 1px 1px 3px;
}

.dp-table-2-region{
    height: 556px;
    width: 100%;
    border: solid #666B6A 2px;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 1px 1px 3px;
}


.dp-table-1-tr{
    background-color: #666B6A;
    color: whitesmoke;
}

.dp-table-2-tr{
    background-color: #666B6A;
    color: whitesmoke;
}

.dp-table-2-rows-div td{
    padding: 4px;
    border-right: 1px solid rgb(0,0,0,0.1);
    border-bottom: none;
}

td{
    font-weight: lighter;
}

.dp-table-1-rows-div{
    height: 100%;
    overflow: scroll;
}
.dp-table-2-rows-div{
    height: 100%;
    overflow: scroll;
}

.dp-summary-buttons-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    position: relative;
}

.dp-summary-div{
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #666B6A;
    padding: 5px;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px;
}

.dp-summary-div-inner{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: ghostwhite;
    box-shadow: 2px 2px 3px inset;

}

.dp-summary-div label{
    color: white;
    font-weight: bold;
}

.dp-buttons-div{
    height: 210px;
    width: 140px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.dp-button{
    width: 100%;
    height: calc(30%);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px;
    background-color: #c6f1c6;


    font-size: 16px;
    font-weight: bold;
    color: #266B6A;

    cursor: pointer;
}

.dp-table-2-div{
    border: solid grey;
    border-radius: 1rem;
    width: 100%;
    height: 550px;
}

.author-delivery-button{
    width: 300px;
    height: calc(30%);

    position: absolute;
    top: 0px;
    right: 0px;
    border:  solid #666B6A 2px;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px;

    background-color: #c6f1c6;
    color: #266B6A;
    font-weight: bold;
    font-size: 16px;

    cursor: pointer;
}

