

.deliveries-overview-page{
    /*Take into account padding*/
    width: calc(100% - 100px);
    height: 100%;
    padding-left:  50px;
    padding-right: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    row-gap: 10px;
}

.deliveries-overview-page h1{
    margin: 0px;
    padding: 0px;
}


.DOP-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    width: 100%;
    height: 100%;

    column-gap: 40px;
}

.DOP-grid-container * {
    box-sizing: border-box;

}

.dop-grid-column{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.dp-region{
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: row;
}


.dp-region1{
    width: 440px;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;

    padding: 0px 25px 0px 0px;
    border-radius: 1rem;
    row-gap: 20px;
}

.dp-region2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    border-radius: 1rem;
    row-gap: 20px;
}

.dp-input-wrapper{
    border: solid grey 1px;
    border-radius: 0.5rem;
    width: 100%;
}

.dp-search-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(160, 238, 192);
    padding: 5px;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px;
}

input{
    font-size: 16px;
    font-weight: normal;
    color: rgb(102, 107, 106);
    padding: 8px 16px;
    border: none;
    box-shadow: 2px 2px 3px inset;
    border-radius: 0.5rem;
    width: calc(100% - 40px);
    height: 25px;
    outline: none;
}

input:focus{
    box-shadow: 3px 3px 3px inset;
}
label{
    font-size: 14px;
    color: rgb(102, 107, 106);
    padding-bottom: 4px;
    padding-left: 10px;
}

.dp-table-1-div{
    height: 740px;
    box-sizing: border-box;
    width: 100%;
    border: solid #666B6A 2px;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 1px 1px 3px;
}

.dp-table-1-div td{
    height: 36px;
}

.dp-table-2-region{
    max-height: 577px;
    width: 100%;
    border: solid #666B6A 2px;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 1px 1px 3px;
}


.dp-table-1-th{
    background-color: #666B6A;
    color: whitesmoke;
    height: 20px;
}

.dp-table-2-tr{
    background-color: #666B6A;
    color: whitesmoke;
}

.dp-table-2-rows-div td{
    padding: 4px;
    border-right: 1px solid rgb(0,0,0,0.1);
    border-bottom: none;
}

td{
    font-weight: lighter;
}

.dp-table-1-rows-div{
    height: 100%;
    overflow: scroll;
}
.dp-table-2-rows-div{
    height: 100%;
    overflow: scroll;
}

.dp-summary-buttons-div{
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    position: relative;
}

.dp-summary-div label{
    color: white;
    font-weight: bold;
}

.dp-buttons-div{
    height: 100%;
    width: 140px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.dp-button{
    width: 100%;
    height: calc(30%);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px;
    background-color: #c6f1c6;
    border:  solid #666B6A 1px;

    font-size: 16px;
    font-weight: bold;
    color: #266B6A;

    cursor: pointer;
}

.dp-button:hover{
    background-color: rgba(198, 241, 198, 0.5);

}

.dp-table-2-div{
    border: solid grey;
    border-radius: 1rem;
    width: 100%;
    height: 550px;
}

.author-delivery-button{
    width: 300px;
    height: calc(30%);

    position: absolute;
    top: 0px;
    right: 0px;
    border:  solid #666B6A 1px;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px;

    background-color: #c6f1c6;
    color: #266B6A;
    font-weight: bold;
    font-size: 16px;

    cursor: pointer;
}

.author-delivery-button:hover{
    background-color: rgba(198, 241, 198, 0.5);

}

/*Summary Panel*/
.DOP-SP-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    padding: 10px;

    width: 100%;
    height: 200px;
    background-color: ghostwhite;
    box-shadow: 1px 1px 3px;
    border-radius: 0.5rem;
}

.DOP-SP-due-date{
    text-align: center;
    margin: 0px;
    padding: 10px;
}

.DOP-SP-item{
    border-radius: 0.5rem;
    border: solid lightgrey 1px;
    background-color: #efeeee;
}

.DOP-SP-item p {
    margin: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

/*Button Panel 1*/

.DOP-BP-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    height: 100px;
    width: 100%;
    gap: 10px;
}

/*Button Panel 2*/
.DOP-BP-2-grid{
    display: grid;
    height: 100px;
    width: 100%;
    gap: 10px;
}

/*Upper Panel*/
.DOP-upper{
    width: 100%;
    height: 140px;
    background-color: ghostwhite;
}