
.deliveries-overview-page button {
    border-radius: 0.5rem;
    border-color: var(--border-color);
    font-weight: bold;
    background-color: var(--button-color);
    cursor: pointer;
}

.DOP-page-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    column-gap: 40px;

    min-width: 0;
    min-height: 0;
}

.DOP-grid-container * {
    box-sizing: border-box;
}

.DOP-grid-column{
    height: 100%;
    width: 100%;
    display: grid;
    row-gap: 20px;

    min-width: 0;
    min-height: 0
}

.DOP-grid-column-2{
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
    row-gap: 20px;

    min-width: 0;
    min-height: 0
}
.DOP-grid-column-4{
    height: 100%;
    width: 100%;
    grid-template-rows: 2fr 1fr 1fr;
    display: grid;
    row-gap: 20px;

    min-width: 0;
    min-height: 0
}



/*Summary Panel*/
.DOP-SP-1-grid{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    row-gap: 10px;
    padding: 10px;
    width: 100%;
    height: 280px;
    background-color: var(--azure);
    box-shadow: 1px 1px 3px var(--shadow-color);
    border-radius: 0.5rem;
    border: var(--light-grey) solid 2px
}

.DOP-SP-due-date{
    text-align: center;
    margin: 0px;
    padding: 10px;
}

.DOP-SP-item{
    display: grid;
    border-radius: 0.5rem;
    border: var(--light-grey) solid 2px;
    background-color: var(--white);
    min-width: 0;
    min-height: 0;
}

.DOP-SP-item p {
    margin: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}


.DOP-SP-2-grid{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    row-gap: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: var(--azure);
    box-shadow: 1px 1px 3px var(--shadow-color);
    border-radius: 0.5rem;
    border: var(--border-color) solid 1px;

    min-width: 0;
    min-height: 0;
}

/*Button Panel 1*/

.DOP-BP-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    height: 100px;
    width: 100%;
    gap: 10px;
}

.DOP-button{
    border-radius: 0.5rem;
    border: var(--light-grey) solid 2px;
    font-weight: bold;
}

/*Button Panel 2*/
.DOP-BP-2-grid{
    display: grid;
    height: 100px;
    width: 100%;
    gap: 10px;
}


/*TDPTable 1*/
.DOP-T-grid{
    display: grid;
    grid-template-rows: 70px 60px 1fr;

    width: 100%;
    height: 100%;

    border-radius: 0.5rem;
    background-color: ghostwhite;
    border: solid var(--light-grey) 2px;

    min-width: 0;
    min-height: 0;
}

.DOP-T-grid table{
    display: grid;
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
}

.DOP-T-grid tbody{
    display: grid;
    height: fit-content;
    width: 100%;
    min-width: 0;
    min-height: 0;
}


.DOP-T-search-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: var(--turqoise);
    color: var(--white);

    min-width: 0;
    min-height: 0;
}

.DOP-T-search-container label{
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 4px;
}
.DOP-T-search-container input{
    background-color: ghostwhite;
    height: 30px;
    width: 100%;

    font-weight: normal;
    padding: 8px 16px;
    border: none;
    box-shadow: 2px 2px 3px var(--shadow-color) inset;
    border-radius: 0.5rem;
    outline: none;
}
.DOP-T-search-container input:focus{
    box-shadow: 3px 3px 3px var(--shadow-color) inset;
}

/*Stores table headers*/
.DOP-T-headers-div{
    display: grid;
    background-color: var(--turqoise);
    font-size: 16px;
    min-height: 0;
    min-width: 0;
}

.DOP-tr{
    background-color: inherit;
    height: 100%;
    width: 100%;
    display: grid;
    min-width: 0;
    min-height: 0;
    font-size: 16px;
    overflow: hidden;
}

.DOP-tr-selected{
    background-color: orange;
    height: 100%;
    width: 100%;
    display: grid;
    min-width: 0;
    min-height: 0;
    font-size: 16px;
    overflow: hidden;
}

.DOP-th{
    height: 100%;
    width: 100%;

    background-color: inherit;
    border-radius: 0.25rem 0.25rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);

    min-width: 0;
    min-height: 0;
    font-size: 14px;
    padding: 0;
    margin: 0;

    overflow: hidden;
}

.DOP-td{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;

    min-width: 0;
    min-height: 0;

    overflow: hidden;
}


.DOP-T-content-div{
    display: grid;
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;

    overflow-y: scroll;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: #d9d9d9 rgba(248, 248, 255, 0);
    scrollbar-arrow-color: rgba(221, 221, 221, 0);

    background-color: var(--white);
}


.DOP-SP-item p{
    font-size: 14px;
    text-align: initial;
    padding: 5px 10px 5px 10px;
    overflow: clip;
    word-wrap: break-word;

}