.add-recipe-page{
    width: calc(100% - 100px);
    height: 100%;
    padding-left:  50px;
    padding-right: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: azure;
    row-gap: 20px;

    --border-color: powderblue;
    --button-color: lightcyan;
    --shadow-color: rgb(0,0,0,0.4);
}

.add-recipe-page *{
    font-family: "Roboto";
    color: black;
}

.ARP-title{
    margin: 0px;
    padding: 0px 0px 4px 0px;
    border-bottom: solid black 2px;
}

.ARP-submit-panel{
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10px;
    width: 100%;
    height: 350px;
    background-color: ghostwhite;
    box-shadow: 1px 1px 3px var(--shadow-color);
    border-radius: 0.5rem;
    border: var(--border-color) solid 1px
}

.ARP-submit-panel-name{
    text-align: center;
    size: 25px;
    margin: 10px 0 0 0;
}

.paragraph-input {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.ARP-grid-container{
    display: grid;
    grid-template-columns: 0.8fr 1.5fr 1.2fr;
    width: 100%;
    height: 660px;
    column-gap: 40px;
}

.ARP-grid-container * {
    box-sizing: border-box;
}

.ARP-grid-column{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.ARP-submit-column{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.ARPTable-grid{
    display: grid;
    grid-template-rows: 70px 60px;
    box-shadow: 1px 1px 3px var(--shadow-color);
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: ghostwhite;
    border: solid var(--border-color)  2px;
}

.ARPPanel-grid{
    display: grid;
    text-align: center;
    justify-items: center;
    row-gap: 12px;
    padding: 10px;
    width: 350px;
    height: 230px;
    background-color: ghostwhite;
    box-shadow: 1px 1px 3px var(--shadow-color);
    border-radius: 0.5rem;
    border: var(--border-color) solid 1px
}

.ARPPanel-name{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 10px 0 0 0;
    border-bottom: solid black 1px;
}

.ARPPanel-item{
    font-size: 18px;
    border-radius: 0.5rem;
    text-align: center;
}

.arrow {
    border-radius: 0 5px 0 5px;
    border: solid;
    border-color: slategrey;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
    margin: 10px;
}

.down {
    transform: scale(2.4,1.2) rotate(45deg);
    -webkit-transform: scale(2.4,1.2) rotate(45deg);
}

.recipe-name-input{
    width: 100%;
    height: 30px;
    padding: 10px;
}

.submit-button{
    width: 50%;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    border: solid black 2px;
    border-radius: 0.5rem;
}

.add-to-recipe-button{
    width: 130px;
    height: 36px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0.5rem;
    border: solid black 1px;
}

.ARP-submit-panel-name{
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin: 10px 10px 0px 10px;
    border-bottom: solid black 1px;
}

.quantity-input{
    font-size: 15px;
}
