.recipe-page{
    /*Take into account padding*/
    width: calc(100% - 100px);
    height: 100%;
    padding-left:  50px;
    padding-right: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: azure;
    row-gap: 20px;

    --border-color: powderblue;
    --button-color: lightcyan;
    --shadow-color: rgb(0,0,0,0.4);
}

.recipe-page *{
    font-family: "Roboto";
    color: black;
}

.RP-title{
    margin: 0px;
    padding: 0px 0px 4px 0px;
}

.RP-grid-container{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    width: 100%;
    height: 600px;
    column-gap: 60px;
}

.RP-grid-container * {
    box-sizing: border-box;
}

.RP-grid-column{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.RPTable-grid{
    display: grid;
    grid-template-rows: 70px 60px;
    box-shadow: 1px 1px 3px var(--shadow-color);
    width: 100%;
    height: 600px;
    border-radius: 0.5rem;
    background-color: ghostwhite;
    border: solid var(--border-color)  2px;
}

.RPTable-grid *{
    box-sizing: border-box;
}

.RPTable-grid th, td{
    padding: 12px;
}

.RPTable-search-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 0.2rem;
    border-bottom: var(--border-color)  solid 4px;
    background-color: powderblue;
    justify-content: center;
}

.RPTable-search-container input{
    background-color: ghostwhite;
    height: 35px;
    width: 100%;

    font-weight: normal;
    padding: 8px 16px;
    border: none;
    box-shadow: 2px 2px 3px var(--shadow-color) inset;
    border-radius: 0.7rem;
    outline: none;
}
.RPTable-search-container input:focus{
    box-shadow: 3px 3px 3px var(--shadow-color) inset;
}

.RPTable-search-container label{
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 4px;
    padding-left: 4px;
}

.RPTable-content-div{
    height: 525px;
    overflow-y: auto;
    overflow-x: hidden;
}

.RPTable-content-div td{
    padding: 12px;
    border-bottom: 1px solid #ddd;
    height: 40px;
    max-height: 40px;
    font-size: 14px;
}

.RPTable-content-div tr{
    width: 100%;
    max-height: 40px;
    cursor: pointer;
}

.RPTable-content-div table{
    width: 100%;
    text-align: left;
    border-collapse: collapse ;
    background-color: ghostwhite;
    border-spacing: unset;
    box-shadow: none;
}

.RPTable-content-div th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.RP-unselected-row:hover{
    background-color: lightgrey;
}

.RP-selected-row{
    background-color: orange;
}

.RPSummary-grid{
    display: grid;
    grid-template-rows: 0.5fr 1fr 2fr;
    row-gap: 10px;
    padding: 10px;
    width: 100%;
    height: 280px;
    background-color: ghostwhite;
    box-shadow: 1px 1px 3px var(--shadow-color);
    border-radius: 0.5rem;
    border: var(--border-color) solid 1px
}

.RPSummary-name{
    text-align: center;
    margin: 0px;
    padding: 10px;
}

.RPSummary-item{
    border-radius: 0.5rem;
    border: var(--border-color) solid 1px;
    background-color: #efeeee;
}

.RPSummary-item p {
    margin: 10px;
    height: 100%;
    width: 100%;
    text-align: left;
}

.RPTable-container {
    width: 100%;
    text-align: center;
    border-radius: 0.5rem;
    border: var(--border-color) solid 1px;
    background-color: ghostwhite;
    background-color: #efeeee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.IGTableRP{
    width: 100%;
    text-align: center;
    border-radius: 0.5rem;
    border: var(--border-color) solid 1px;
    border-collapse: collapse;
    background-color: #efeeee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.IGTableRP th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.IGTableRP thead {
    width: 100%;
    display: table;
    text-align: center;
}

.IGTableRP tbody{
    height: 255px;
    width: 100%;
    background-color: whitesmoke;
    display: inline-block;
    overflow-y: auto;
}

.IGTableRP tbody tr{
    width: 100%;
    display: block;
}

.IGTableRP tbody tr td{
    width: 50%;
    display: inline-block;
}