.table-style {
    width: 100%;
    text-align: left;
    border-collapse: collapse ;
    background-color: ghostwhite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-style thead {
    background-color: powderblue;
}

.table-style th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
