tan-table table {
    width: 100%;
    text-align: left;
    border-collapse: collapse ;
    background-color: ghostwhite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

tan-table thead {
    background-color: powderblue;
}

tan-table th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

tan-table tr:hover td {
    background-color:lightgrey;
}